#game_region {
  width: 400px;
  height: 400px;
  background-image: url(../images/bg_game_ground-to-sky.jpeg);
  background-size: 120% 300%;
  background-position: left 0 bottom 0;
  padding-top: 400px;
  padding-bottom: 280px;
  overflow: hidden;
  transition: 0.5s;
}

.box {
  width: 48px;
  height: 48px;
  background-color: lightcyan;
  opacity: 1;
  position: relative;
  left: 0px;
}
.box-init {
  width: 48px;
  height: 48px;
  left: 180px;
}
