#game_region {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg_game_ground-to-sky.jpeg);
  background-size: 120% 300%;
  background-position: left 0 bottom 0;
  padding-top: 400px;
  padding-bottom: 280px;
  overflow: hidden;
  transition: 0.5s;
}

.box {
  width: 60px;
  height: 40px;
  background-color: black;
  opacity: 1;
  position: relative;
}
.box-init {
  width: 60px;
  height: 40px;
  left: 295px;
}
