<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/basic.css">
	<link rel="stylesheet" href="../css/game.css">
</head>
<body>
	<div id="app" class="app">
		<div id='game_region'>
			<div id='box-0' class="box box-init"></div>
		</div>
		<div id="btn">test</div>
	</div>
	<script type="module" src="../javascript/game.js"></script>
</body>
</html>